body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5em;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(164, 20, 97);
}
.yellow{
    background-color: rgb(215, 139, 9);
}
.green{
    background-color: rgb(44, 75, 108);
}
.blue{
    background-color: rgb(104, 33, 126);
}

.flash{
    background-color: white;
}